<div class="book">
  <p class="title">   </p>
  <p class="author">by   </p>
  <p class="publisher">( )</p>
  <p class="description">  </p>
</div>
<div class="reviews">
  <% @reviews.each do |review| %>
    <div class="review">
      <p class="author">  </p>
      <p class="comment">  </p>
    </div>
  <% end %>
</div>
